<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

	<title>{% block title %}Unveil{% endblock %}</title>

	{% block headinject %}
	{% endblock %}
</head>
<body>
	<main>
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

			<a class="navbar-brand" href="{% url 'home' %}"><h3><font color="#009933"><b>U</b></font>nveil</h3></a>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="collapsibleNavbar">

				<ul class="navbar-nav ml-auto">

					<li class = "nav-item">
						<button type="button" class="btn btn-light mb-2" data-toggle="modal" data-target="#myModal">
							About me
						</button>
					</li>

					{% if user != None %}
						<!-- Dropdown -->
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
							Hi {{ user.firstname }}
							</a>
							<div class="dropdown-menu dropdown-menu-right pull-right">
								<a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
							</div>
						</li>
					{% else %}
						<li class="nav-item">
							<a class="nav-link" href="{% url 'login' %}">Login</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
						</li>
					{% endif %}

				</ul>

			</div>
		</nav>
		
		<div class="container">
			<div class="modal fade" id="myModal">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
					
					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title">About Me</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					
					<!-- Modal body -->
					<div class="modal-body">
						<div class="card" style="width:100%">
							<img class="card-img-top" src="http://play2cars.000webhostapp.com/innocent.jpg" alt="Card image">
							<div class="card-body">
								<h4 class="card-title">Vibhav Aggarwal</h4>
								<p class="card-text">
									I am a first year CSE student at IIT Bombay and I code in my free time (read all day :P).
									<br>Reach me at : vibhav200601@gmail.com
								</p>
							</div>
						</div>
					</div>
					
					<!-- Modal footer -->
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
					
					</div>
				</div>
			</div>
			{% block content %}
			{% endblock %}
		</div>
	</main>
</body>
</html>