{% extends 'base.html' %}

{% block title %}Create Blog{% endblock %}

{% block headinject %}
	<script src="https://cdn.jsdelivr.net/gh/vibhav011/blogsite/editor.js"></script>
	<script>
		$(document).ready(function() {
			$("#txtEditor").Editor();
		});
		
		function CreateBlog() {
			var title = $("#title").val();
			if (title == "") return;
			var body = $("#txtEditor").Editor("getText");
			var d = new Date();
			var month = d.getMonth()+1;
			var day = d.getDate();

			var date = (day<10 ? '0' : '') + day + '/' + (month<10 ? '0' : '') + month + '/' + d.getFullYear();

			$("#btn").attr("disabled", true);

			$.ajax({
				type : "POST",
				url: '{% url "createblogrequest" %}',
				data: {
					'title': title,
					'body' : body,
					'username' : '{{ user.username }}',
					'date' : date,
					'csrfmiddlewaretoken': '{{ csrf_token }}', 
				},
				dataType: 'json',
				success: function (data) {
					window.location.href = data.url;
				}
			});
		}
	</script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

	<link href="https://cdn.jsdelivr.net/gh/vibhav011/blogsite/editor.css" type="text/css" rel="stylesheet"/>

{% endblock %}

{% block content %}
	<br>
	<h1>Create a new blog</h1>
	<br>
	
	<label for="title" class="mr-sm-2">Blog Name* : </label>
	<input type="text" class="form-control mb-2 mr-sm-2" maxlength="30" id="title" required>
	<small id="emailHelp" class="form-text text-muted">This won't be displayed on your blog page. Max characters : 30</small>
	
	<br><br><h4>Your blog</h4>
	<div class="row">
		<div class="col-lg-12 nopadding">
			<textarea id="txtEditor"></textarea> 
		</div>
	</div>
	<br>
	<button class = "btn btn-primary" id="btn" onclick = "CreateBlog()">Create</button><br><br>
{% endblock %}