{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
	<br>
	<p>Hey there! Want to share something? <a href = "{% url 'createblog' %}">Create a new blog</a> now!</p>
	<br>
	<h4>All Blogs:</h4>
	<div class = "card-rows">

		{% for element in blogDetails %}
			<div class="card bg-light">
				<div class="card-body" >
					<h4 class="card-title">{{ element.title }}</h4>
					<p class="card-text">
						Author : {{ element.author }} {% if element.username == 'vibhav011' %}<i class="fa fa-check-circle" style="color:#329AFC" aria-hidden="true"></i>{% endif %}
						<br>Date : {{ element.date }}
					</p>
					<a href="{% url 'blogs' blogid=element.blogid %}" class="card-link">Visit >></a>
					{% if element.username == user.username %}
					<a href="{% url 'editblog' blogid=element.blogid %}" class="card-link">Edit</a>
					{% endif %}
				</div>
			</div>
		{% endfor %}

	</div>
{% endblock %}