{% extends 'base.html' %}

{% block title %}Blog{% endblock %}

{% block headinject %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
{% if blogFound %}
	<script>
		$(document).ready(function() {
			var txt = document.createElement("textarea");
			txt.innerHTML = "{{ body }}";

			$("#body").html(txt.value);
		});
	</script>
{% endif %}
{% endblock %}

{% block content %}
<br>
{% if blogFound %}
	<p id = "body"></p>
	<br>
	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-3 text-muted text-center mb-2"><i class="fa fa-user" aria-hidden="true"></i> {{ author_fullname }}</div>
		<div class="col-sm-3 text-muted text-center mb-2"><i class="fa fa-calendar" aria-hidden="true"></i> {{ date }}</div>
		<div class="col-sm-3"></div>
	</div>

	<br><p>
	{% if user.username == author_username %}
		<a href = "{% url 'editblog' blogid=blogid %}">Edit</a>
	{% endif %}
	</p>
{% else %}
	<h1>No Blog Found</h1>
{% endif %}
<br><br>
{% endblock %}